// colors

$colorwhite: #F3F3F3;
$colorgreen:#99E2D0;
$colorgreenfont:#008766;
$colorblue:#89C8FA;
$colorblue2:#003A68;
$colorprimary:#9356DC;
$colorblack:#353535;
$colorbackground:#f6f6f6;















